
<nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">   
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><b> Task Manager</b></a>
      </div>
      <ul class="nav navbar-nav ">
        <li class="active"><a href="#"><b>Home</b> </a></li>
        <li><a [routerLink]="[ '/CreateTask' ]"> <b>Create New Task</b> </a></li>
        <li><a [routerLink]="[ '/CreateOwner' ]"><b>Create New Owner</b> </a></li>
        
      </ul>
      <form class="navbar-form navbar-right" action="/action_page.php">
        <div class="form-group">
          <input name = "title" [(ngModel)]="title" type="text"
          class="form-control"
          placeholder="Search by title"
          >
        </div>
        <button class="btn btn-outline-secondary"
        [disabled]="submitted"
        type="button" [routerLink]="[ '/TaskSearch/',this.title ]"
        (click)="searchTitle()">Submit</button>
      </form>
    </div>
  </nav>